
.scrollList::-webkit-scrollbar {
    width: 8px;
}

.scrollList::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(206, 212, 218);
}

.scrollList::-webkit-scrollbar-track {
    border-radius: 10px;
}

.scrollList {
    -ms-overflow-style: none;
    scrollbar-width: thin;
    scrollbar-color: rgb(206, 212, 218) white;
    margin: 0 auto;
    overflow: auto;
    width: 100%;
    border-radius: 5px;
}

.invalid {
    position: relative;
    border-color: #dc3545 !important;
}

.valid {
    border-color: #198754 !important;
}

.invalidImage {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
}

.invalidMessage {
    width: 100%;
    margin: 0.25rem;
    font-size: 0.875em;
    color: #dc3545;
}